body {
  background-color: #2b333b;
  color: #fff;
  font-family: "DM Mono", monospace;
  font-size: 16px;
}

h1 {
  font-size: 28px;
  text-decoration: underline;
  margin-top: 24px;
  margin-left: 16px;
  margin-bottom: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

li {
  font-size: 16px;
  margin-left: 19.2px;
  margin-bottom: 16px;
  margin-top: 16px;
}

li:hover {
  cursor: pointer;
  font-weight: bolder;
  color: darkorange;
}

.float-left {
  float: left;
  height: 40px;
}

.wrapper {
  display: flex;
  width: 100%; /* full width for small screens < 576px. See media query for medium and large screens*/
  flex-flow: column wrap;
  align-items: flex-start;
}

.score-row {
  display: none; /* use javascript to change to display flex when start button is pressed */
  justify-content: space-between;
  width: 80%;
  margin-left: 16px;
  margin-bottom: 24px;
}

.content {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
}

#table-content {
  text-align: left;
}

#form-content {
  display: none;
  margin-left: 16px;
  margin-bottom: 24px;
}

#question-content {
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
  width: 100%;
}

#table-content {
  width: 100%;
  display: none;
  margin: 24px 16px;
}

table {
  width: 50%;
  table-layout: fixed;
}

#high-score,
#name {
  text-decoration: underline;
  padding-bottom: 10px;
  padding-top: 10px;
}

.your-score,
.label-text {
  margin-bottom: 24px;
  margin-left: 16px;
}

#user-name-input {
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid white;
  margin-left: 16px;
}

#user-name-input:focus {
  outline: none;
}

#save-score,
#start-btn {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  border: 2px solid white;
  padding: 8px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 15%/50%;
}

#save-score:hover,
#start-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#save-score:active,
#start-btn:active {
  transform: scale(1);
}

#save-score {
  display: none;
}

@media (min-width: 768px) {
  /* center wrapper on medium screens */
  h1 {
    font-size: 36px;
    margin-left: 0px;
  }

  .score-row,
  .your-score,
  .label-text {
    margin-left: 0px;
  }

  #high-score,
  #name {
    font-size: 20px;
  }

  .wrapper {
    margin-left: auto;
    width: 75%;
    margin-right: auto;
    align-items: center;
  }

  #table-content,
  #form-content {
    text-align: center;
    margin-left: 0px;
  }

  table {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  #save-score,
  #start-btn {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  /* center wrapper on large screens with wider margins */
  .wrapper {
    margin-left: auto;
    width: 60%;
    margin-right: auto;
  }
}
